:root {
  --rouge-suisse: #ff0000;
  --leman: #00a79f;
  --groseille: #b51f1f;
  --canard: #007480;

  --mont-rose: #f39869;
  --perle: #cac7c7;
  --vert-eau: #c2ddb0;
  --rose: #ed6e9c;
  --acier: #4f8fcc;
  --soufre: #fbee66;
  --carotte: #ec6608;
  --zinzolin: #5c2483;
  --chartreuse: #c8d300;
  --marron: #5b3428;
  --ardoise: #453a4c;
  --taupe: #413d3a;

  --casse: #f8f9fa;
  --gris-100: #e6e6e6;
  --gris-200: #d5d5d5;
  --gris-300: #c1c1c1;
  --gris-500: #8e8e8e;
  --gris-600: #707070;
  --noir: #212121;
}

table {
  margin-bottom: 20px;
}

h1 {
  margin: 1rem !important;
}

.lockable[disabled]+label {
  cursor: not-allowed;
  pointer-events:none;
  opacity: 0.6;
}

.btn {
  margin: 1px;
}

.but-line {
  color: var(--ardoise);
  border-color: var(--ardoise);
}

.but-line:hover {
  color: white;
  background-color: var(--ardoise);
}

.but-line-red {
  color: var(--groseille);
  border-color: var(--groseille);
}

.but-line-red:hover {
  color: white;
  background-color: var(--groseille);
}

.but-line-blue {
  color: var(--acier);
  border-color: var(--acier);
}

.but-line-blue:hover {
  color: white;
  background-color: var(--acier);
}

.but-line-green {
  color: var(--chartreuse);
  border-color: var(--chartreuse);
}

.but-line-green:hover {
  color: white;
  background-color: var(--chartreuse);
}

.but-white {
  background-color: var(--casse);
  border: 0;
}

.but-white:hover {
  background-color: var(--ardoise);
  color: white;
  border: 0;
}

.but-grey {
  background-color: var(--perle);
  border: 0;
  color: white;
}

.but-grey:hover {
  background-color: white;
  color: var(--perle);
}

.but-red {
  background-color: var(--groseille);
  border: 0;
  color: white;
}

.but-red:hover {
  background-color: white;
  color: var(--groseille);
}

.but-orange {
  background-color: var(--carotte);
  border: 0;
  color: white;
}

.but-orange:hover {
  background-color: white;
  color: var(--carotte);
}

.but-blue {
  background-color: var(--acier);
  border: 0;
  color: white;
}

.but-blue:hover {
  background-color: white;
  color: var(--acier);
}

.but-green {
  background-color: var(--chartreuse);
  border: 0;
  color: white;
}

.but-green:hover {
  background-color: white;
  color: var(--chartreuse);
}

input[type="file"] {
  display: none;
}

.red {
  color: var(--groseille);
}

.icon-tile {
  color: var(--groseille);
  text-align: left;
  font-size: 24px;
}

.reduce {
  max-height: 300px;
  margin: 0 auto;
  width: 90%;
  display: block;
  overflow-x: auto;
}

.title {
  padding: 10px;
  margin: 10px;
}

.test {
  color: white;
  background-color: var(--noir);
}


/** head **/

#logo {
  width: 100px;
}

#head {
  margin: 20px 10px 0px 10px;
  line-height: 40px;
}

#div-logo {
  margin: 0;
  padding-right: 50px;
  float: left;
}

#div-path {
  margin: 0;
  font-size: 1rem;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
}

#div-path a {
  color: inherit;
  text-decoration: inherit;
}

#div-path a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

/** index **/

#index-canevas {
  margin: 20px;
}

.index-primary {
  clear: both;
  padding-bottom: 30px;
}

.index-secondary {
  margin: 10px;
  clear: both;
}

.tiles {
	float: left;
  margin-top: 10px;
  margin-bottom: 20px;
}

.tile {
  cursor: pointer;
  height: 200px;
	width: 200px;
  margin: 10px;
	border-radius: 5px;
  display: inline-block;
  box-shadow: 1px 1px 4px 1px #aaa;
  text-align: center;
}

.selected-tile {
  background-color: var(--casse);
}

.desactived-tile {
  height: 200px;
	width: 200px;
  margin: 10px;
	border-radius: 5px;
  display: inline-block;
  box-shadow: 1px 1px 4px 1px #aaa;
  text-align: center;
  opacity: 0.5;
}

.center-one {
  padding: 70px 0;
}

.center-two {
  padding: 43px 0;
}

.center-three {
  padding: 16px 0;
}

.tile:hover {
  background-color: #f3f3f3;
}

.nom-tile {
  font-size: 20px;
}

.num-tile {
  font-size: 10px;
}

/** plateforme **/

#display {
  margin: 10px;
  text-align: center;
}

.loader {
  border: 16px solid var(--perle);
  border-top: 16px solid var(--acier);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#buttons {
  text-align: left;
  width: 1000px;
  margin: auto;
  padding: 10px;
}

#plate-content {
  margin: auto;
  text-align: center;
  width: 1500px;
}

#historique-div {
  padding: 10px;
}

.hidden {
  display: none;
}

#report {
  margin: 0 auto;
  width: 90%;
}

#log {
  text-align: left;
  width: 1500px;
  margin: auto;
}

#over-log {
  margin: 0 auto;
  width: 90%;
  display: block;
  overflow-x: auto;
  max-height: 700px;
}

/** prefacturation **/

#prefa-content {
  margin: auto;
  padding: 20px;
}

table.factures td:nth-child(1), table.factures td:nth-child(4), table.factures td:nth-child(6) { text-align: left; }
table.factures td:nth-child(2), table.factures td:nth-child(3), table.factures td:nth-child(5) { text-align: right; }

table.modifs td:nth-child(1), table.modifs td:nth-child(2), table.modifs td:nth-child(3) { text-align: center; }
table.modifs td:nth-child(4), table.modifs td:nth-child(6), table.modifs td:nth-child(7) { text-align: left; }
table.modifs td:nth-child(5), table.modifs td:nth-child(8), table.modifs td:nth-child(9) { text-align: right; }

table.infos td:nth-child(1), table.infos td:nth-child(3) { text-align: left; }

table.modifs thead tr th, table.journal thead tr th, table.client thead tr th, table.factures thead tr th, table.report-table thead tr th {
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
}

.over {
  max-height: 700px;
  margin: 0 auto;
  width: 90%;
  display: block;
  overflow-x: auto;
}

#over-bills {
  margin: 0 auto;
  max-width: 600px;
  display: block;
  overflow-x: auto;
}

#bills td {
  border-bottom: 0px;
  font-size: 1rem;
}

.yellow {
  background-color: var(--soufre);
}

#label-line {
  display: inline-flex;
  flex: auto;
}

table#bills td:nth-child(1), table#bills td:nth-child(4) { text-align: left; }
table#bills td:nth-child(2), table#bills td:nth-child(3) { text-align: right; }

/** tarifs **/

.ui-datepicker-calendar {
  display: none;
  }

.collapse-title.collapse-title-desktop {
  border-width: 0px;
}

table#tarifs td:nth-child(1) { width: 20%; }

#tarifs-content {
  margin: auto;
  text-align: center;
  width: 1500px;
}

/** reporting **/

#report-tiles {
  padding: 20px;
}

.report-chapter {
  margin: 10px;
  clear: both;
}

table.report-table th {
  cursor: pointer;
}

#date-title {
  padding: 10px;
  font-style: italic;
}

#bilans {
  margin: 10px;
  text-align: center;
}

#report-period {
  margin: 10px;
  text-align: center;
}

#report-title {
  margin: 10px;
  text-align: center;
}

.report-table {
  text-align: left;
}

#back {
  display: none;
  margin: 10px;
  text-align: center;
}

.right {
  text-align: right;
}

.total {
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

.subtotal {
  margin: 5px;
  text-align: center;
}

#report-content {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.report-large {
  width: 80%;
  margin-top: 30px;
}

#dates {
  width: 200px;
  margin: auto;
}

#generate {
  margin-top: 20px;
}

#last {
  margin-top: 20px;
}

.icon-parameters {
  text-align: left;
  font-size: 24px;
  cursor: pointer;
}

.icon-parameters:hover {
  color: var(--gris-300);
}

#report-parameters {
  padding: 20px;
  margin-left: 20px;
}

#report-inputs {
  padding: 20px;
  margin-left: 20px;
  display: none;
}

#tarifs-content {
  margin: auto;
  padding: 20px;
  text-align: center;
}
