#entete {
  margin-left: 600px;
  text-align:left;
}

.tableau tr, .tableau td, .tableau th {
  border: 1px solid black;
  vertical-align:middle;
}
.tableau td, .tableau th {
  padding: 3px;
}
#annexes tr, #annexes td {
  border: 0px;
}
#annexes td {
  padding: 3px;
}
#annexes {
  margin-top: 10px;
}
#toright {
  text-align:right;
}
#combo {
  margin-top: 20px;
  margin-left: 50px;
}
#reference {
  text-align:left;
  margin-left: 20px;
}
.reveal {
  font-size: 18px;
}
.controls {
  margin-bottom: 50px;
}
.reveal .slides > section > section.present {
  top: 10px !important;
}
.csv, .pdf {
  color: #2a76dd;
}

.csv:hover, .pdf:hover  {
  font-weight: bold;
  cursor: pointer;
}

.line {
  display: inline-block;
  margin: 20px;
}

.over {
  margin: 20px;
  max-height: 250px;
  margin: 0 auto;
  display: block;
  overflow-x: auto;
}

.over table.tableau thead tr th {
  background-color: white;
  position: sticky;
  z-index: 100;
  top: 0;
}
